<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
</head>
<body>


<header th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/inicio}">Sistema de Control</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/inicio}">Inicio</a></li>
			</ul>
		</div>
	</nav>

</header>








	<footer th:fragment="footer" style=" background-color: rgb(40, 40, 40);position: absolute;bottom: 0;width: 100%;height: 25px;color: white;">
			<span class="info-copyrigth text-center-light">App desarrollada por TLS S.A &copy; || <a href="www.instagram/tomasschmitlein" target="_blank">Tom&aacute;s Schmitlein</a></span>
	</footer>




</body>
</html>